<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-header></app-header>
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Biểu quyết</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 button-add text-center">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addVotingModal" [ngClass]="{'disabled-item': role == 1}">Thêm mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-center">
                                        <th style="width: 20px;">STT</th>
                                        <th>Nội dung</th>
                                        <th style="width: 150px;">Created time</th>
                                        <th style="width: 150px;">Modified time</th>
                                        <th style="width: 150px;">Status</th>
                                        <th style="width: 50px;" [ngClass]="{'disabled-item': role == 1}">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="text-center">
                                        <th>STT</th>
                                        <th>Nội dung</th>
                                        <th>Created time</th>
                                        <th>Modified time</th>
                                        <th style="width: 150px;">Status</th>
                                        <th [ngClass]="{'disabled-item': role == 1}">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody *ngFor="let item of toList; let i = index">
                                    <tr>
                                        <td>{{i + 1}}</td>
                                        <td>{{item.content}}</td>
                                        <td>{{item.createdTime | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{item.modifiedTime | date: 'yyyy/MM/dd'}}</td>
                                        <td *ngIf="item?.status == 0" style="color: green;">{{item?.status == 0? 'Đang mở':'Đã đóng'}}</td>
                                        <td *ngIf="item?.status == 1" style="color: red;">{{item?.status == 0? 'Đang mở':'Đã đóng'}}</td>                                        <td class="action" [ngClass]="{'disabled-item': role == 1}">
                                            <button type="button" data-toggle="modal" (click)="edit(item.id)"
                                                data-target="#editVotingModal" class="btn btn-primary edit">Sửa</button>
                                            <button type="button" class="btn btn-danger"
                                                (click)="delete(item.id)">Xoá</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



</div>
<!-- End of Content Wrapper -->

<!-- Logout Modal-->
<div class="modal fade" id="addVotingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Thêm mới biểu quyết</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addShareholder" class="formAdd" method="post" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nội dung biểu quyết</label>
                        <input type="text" name="name" class="form-control" 
                            placeholder="..." formControlName="content" required>
                        <div *ngIf="g.content.invalid && (g.content.dirty || g.content.touched)">
                            <h6 *ngIf="g.content.errors?.['required']">Không được trống</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!dataForm.valid">Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="editVotingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Chỉnh sửa biểu quyết</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addShareholder" class="formAdd" method="put" [formGroup]="infoVoting"
                (ngSubmit)="onSubmitUpdate()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nội dung biểu quyết</label>
                        <input type="text" name="name" class="form-control"
                            placeholder="..." formControlName="content" required>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control" style="width: 193px" name="status" formControlName="status">
                            <option [value]="0">Hoạt động</option>
                            <option [value]="1">Đóng hoạt động</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!infoVoting.valid">Sửa nội dung</button>
                </div>
            </form>
        </div>
    </div>
</div>