<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-header></app-header>
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Bầu cử</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 button-add text-center" >
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addElectionModal" [ngClass]="{'disabled-item': role == 1}">Thêm mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-center">
                                        <th style="width: 20px;">STT</th>
                                        <th style="width: 150px;">Tiêu đề</th>
                                        <th>Mô tả</th>
                                        <th>Số lượng được bầu</th>
                                        <th>Ứng cử viên</th>
                                        <th>Trạng thái</th>
                                        <th style="width: 70px;" [ngClass]="{'disabled-item': role == 1}">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="text-center">
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Mô tả</th>
                                        <th>Số lượng được bầu</th>
                                        <th>Ứng cử viên</th>
                                        <th>Trạng thái</th>
                                        <th [ngClass]="{'disabled-item': role == 1}">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody *ngFor="let item of toList;let i = index" class="text-center">
                                    <tr (click)="selectIdElection(item?.id)">
                                        <td>{{i + 1}}</td>
                                        <td>{{item?.title}}</td>
                                        <td>{{item?.description}}</td>
                                        <td>{{item?.numberOfElected}}</td>
                                        <td class="text-center">
                                            <thead>
                                                <tr class="text-center">
                                                    <th style="width: 150px;">Họ và tên</th>
                                                    <th>Năm sinh</th>
                                                    <th style="width: 100px;">Địa chỉ</th>
                                                    <th style="width: 50px;" [ngClass]="{'disabled-item': role == 1}">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let item1 of toListCandidate">
                                                <tr *ngIf="item?.id === item1?.idElection">
                                                    <td>{{item1?.fullname}}</td>
                                                    <td>{{item1?.birthday | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{item1?.address}}</td>
                                                    <td class="action" [ngClass]="{'disabled-item': role == 1}">
                                                        <button type="button" data-toggle="modal" (click)="editCandidate(item1?.id)" data-target="#editCandidateModal" class="btn btn-primary edit">Sửa</button>
                                                        <button type="button" class="btn btn-danger" (click)="deleteCandidate(item1?.id)">Xoá</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <a class="dropdown-item" style="color: blue; margin-top: 5px;" href="#" data-toggle="modal" data-target="#addCandidateModal" [ngClass]="{'disabled-item': role == 1}">+ Thêm ứng cử viên</a>
                                        </td>
                                        <td *ngIf="item?.status == 0" style="color: green;">{{item?.status == 0? 'Đang mở':'Đã đóng'}}</td>
                                        <td *ngIf="item?.status == 1" style="color: red;">{{item?.status == 0? 'Đang mở':'Đã đóng'}}</td>
                                        <td class="action" style="width:auto" [ngClass]="{'disabled-item': role == 1}">
                                            <button type="button" data-toggle="modal" (click)="edit(item.id)" data-target="#editElectionModal" class="btn btn-primary edit">Sửa</button>
                                            <button type="button" class="btn btn-danger" (click)="delete(item.id)">Xoá</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



</div>
<!-- End of Content Wrapper -->

<!-- Add Modal-->
<div class="modal fade" id="addElectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới bầu cử</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addShareholder" class="formAdd" method="post" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label >Tiêu đề</label>
                            <input  type="text" name="name" class="form-control"
                            aria-describedby="emailHelp" placeholder="..." formControlName="title" required>
                            <div *ngIf="g.title.invalid && (g.title.dirty || g.title.touched)">
                                <h6 *ngIf="g.title.errors?.['required']">Không được để trống</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <input type="text" name="identity_card" class="form-control"
                            placeholder="..." formControlName="description" required>
                            <div *ngIf="g.description.invalid && (g.description.dirty || g.description.touched)">
                                <h6 *ngIf="g.description.errors?.['required']">Không được để trống</h6>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group">
                            <label>Số lượng được bầu</label>
                            <input type="number" name="numberOfElected" class="form-control"
                            placeholder="..." formControlName="numberOfElected" required min="1">
                            <div *ngIf="g.numberOfElected.invalid && (g.numberOfElected.dirty || g.numberOfElected.touched)">
                                <h6 *ngIf="g.numberOfElected.errors?.['required']">Không đúng định dạng</h6>
                                <h6 *ngIf="g.numberOfElected.errors?.['min']">Tối thiểu là 1</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!dataForm.valid">Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal-->
<div class="modal fade" id="editElectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa bầu cử</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addShareholder" class="formAdd" method="post" [formGroup]="infoElection" (ngSubmit)="onSubmitUpdate()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label >Tiêu đề</label>
                            <input  type="text" name="name" class="form-control"
                            aria-describedby="emailHelp" placeholder="..." formControlName="title" required>
                            <div *ngIf="g.title.invalid && (g.title.dirty || g.title.touched)">
                                <h6 *ngIf="g.title.errors?.['required']">Không được để trống</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <input type="text" name="description" class="form-control"
                            placeholder="..." formControlName="description" required>
                            <div *ngIf="g.description.invalid && (g.description.dirty || g.description.touched)">
                                <h6 *ngIf="g.description.errors?.['required']">Không được để trống</h6>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Số lượng được bầu</label>
                            <input type="number" name="numberOfElected" class="form-control"
                            placeholder="..." formControlName="numberOfElected" required min="1">
                            <div *ngIf="g.numberOfElected.invalid && (g.numberOfElected.dirty || g.numberOfElected.touched)">
                                <h6 *ngIf="g.numberOfElected.errors?.['required']">Không đúng định dạng</h6>
                                <h6 *ngIf="g.numberOfElected.errors?.['min']">Tối thiểu là 1</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <select class="form-control" style="width: 193px" name="status" formControlName="status">
                                <option [value]="0">Hoạt động</option>
                                <option [value]="1">Đóng hoạt động</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!infoElection.valid">Sửa bầu cử</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="addCandidateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm ứng cử viên</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addShareholder" class="formAdd" method="post" (ngSubmit)="onSubmitCandidate()" [formGroup]="dataFormCandidate">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Họ và tên</label>
                            <input type="text" name="name" class="form-control"
                            aria-describedby="emailHelp" placeholder="..." formControlName="fullname" required pattern="[^0-9]*">
                            <div *ngIf="f.fullname.invalid && (f.fullname.dirty || f.fullname.touched)">
                                <h6 *ngIf="f.fullname.errors?.['required']">Không được trống</h6>
                                <h6 *ngIf="f.fullname.errors?.['pattern']">Không được có số</h6>
                            </div>
                        </div>
                        <div class="form-group colunm">
                            <label>Năm sinh</label>
                            <input type="date" name="identity_card" class="form-control"
                            placeholder="..." [value]="formattedBirthday" formControlName="birthday" required>
                            <div *ngIf="f.birthday.invalid && (f.birthday.dirty || f.birthday.touched)">
                                <h6 *ngIf="f.birthday.errors?.['required']">Không được trống</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="name" class="form-control"
                            aria-describedby="emailHelp" placeholder="..." formControlName="address" required>
                            <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
                                <h6 *ngIf="f.address.errors?.['required']">Không được trống</h6>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group">
                            <label>Thông tin thêm</label>
                            <textarea rows="4" cols="55"  name="identity_card" class="form-control"
                            placeholder="..." formControlName="summaryInfo" required></textarea>
                            <div *ngIf="f.summaryInfo.invalid && (f.summaryInfo.dirty || f.summaryInfo.touched)">
                                <h6 *ngIf="f.summaryInfo.errors?.['required']">Không được trống</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"  type="button">Clear</button>
                    <button class="btn btn-primary" type="submit" href="#" [disabled]="!dataFormCandidate.valid">Thêm mới</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="editCandidateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin ứng cử viên</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addShareholder" class="formAdd" method="out" [formGroup]="infoCandidate" (ngSubmit)="onSubmitUpdateCadidate()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Họ và tên</label>
                            <input type="text" name="name" class="form-control"
                            aria-describedby="emailHelp" placeholder="..." formControlName="fullname" required pattern="[^0-9]*">
                            <div *ngIf="f.fullname.invalid && (f.fullname.dirty || f.fullname.touched)">
                                <h6 *ngIf="f.fullname.errors?.['required']">Không được trống</h6>
                                <h6 *ngIf="f.fullname.errors?.['pattern']">Không được có số</h6>
                            </div>
                        </div>
                        <div class="form-group colunm">
                            <label>Năm sinh</label>
                            <input type="date" name="identity_card" class="form-control"
                            placeholder="..." formControlName="birthday" required>
                            <div *ngIf="f.birthday.invalid && (f.birthday.dirty || f.birthday.touched)">
                                <h6 *ngIf="f.birthday.errors?.['required']">Không được trống</h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="name" class="form-control"
                            aria-describedby="emailHelp" placeholder="..." formControlName="address" required>
                            <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
                                <h6 *ngIf="f.address.errors?.['required']">Không được trống</h6>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group">
                            <label>Thông tin thêm</label>
                            <textarea rows="4" cols="55"  name="identity_card" class="form-control"
                            placeholder="..." formControlName="summaryInfo" required></textarea>
                            <div *ngIf="f.summaryInfo.invalid && (f.summaryInfo.dirty || f.summaryInfo.touched)">
                                <h6 *ngIf="f.summaryInfo.errors?.['required']">Không được trống</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"  type="button">Clear</button>
                    <button class="btn btn-primary" type="submit" href="#" [disabled]="!infoCandidate.valid">Sửa mới</button>
                </div>
            </form>
        </div>
    </div>
</div>