<div class="limiter">
  <div class="container-home100" style="background-image: url('assets/images/bg-02.jpeg');">
    <app-menu></app-menu>
    <div class="main-area">
      <div class="voting">
        <div class="box">
          <div class="title text-center">BỎ PHIẾU BẦU CỬ</div>
          <form action="" method="post" (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div class="container" *ngFor="let item of toListElection;let i = index">
              <h5 class="text-center">{{i+1}}. {{item?.title}}</h5>
              <div class="card item" *ngFor="let itemC of getCandidatesByElection(item.id); let j = index">
                <div class="row no-gutters">
                  <div class="col-md-1">
                    <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_kids_avatar_user_profile_icon_149314.png"
                      class="card-img">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{itemC?.fullname | uppercase}}</h5>
                      <div class="body">
                        <p class="card-text">Năm sinh: {{itemC?.birthday}}</p>
                        <p class="card-text">Địa chỉ: {{itemC?.address}}</p>
                        <p class="card-text">Thông tin khác: {{itemC?.summaryInfo}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <input placeholder="Nhập số phiếu" type="number" name="shares" [(ngModel)]="inputValues[j]"
                      (ngModelChange)="subtract()" (change)="getResultElection()" required #sharesInput="ngModel">
                    <div *ngIf="sharesInput.invalid && (sharesInput.dirty || sharesInput.touched)"
                      class="error-message">Vui lòng nhập số phiếu</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-sub">
              <p>Tổng số cổ phần: <span style="font-weight: bold; ">{{sumShares}}</span></p>
              <div *ngIf="result<0">
                <p>Còn lại có thể bầu:<span style="color: red;"> {{result}}</span></p>
              </div>
              <div *ngIf="result>=0">
                <p>Còn lại có thể bầu:<span> {{result}}</span></p>
              </div>
              <div>
                <button type="button" class="btn btn-primary" (click)="divide()">Chia đều</button>
                <button *ngIf="result<0" type="submit" class="btn btn-secondary" [disabled]="myForm.invalid">Gửi</button>
                <button *ngIf="result>=0" type="submit" class="btn btn-success" [disabled]="!inputValues || myForm.invalid">Gửi</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
      <div class="info">
        <app-info-shareholder></app-info-shareholder>
      </div>
    </div>
  </div>
</div>