
  .main-area {
    display: flex;
  }
  .main-area .info{
    width: 30%;
  }

  .container-home100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
  }
  .result-shares p{
    font-size: 20px;
  }
  
  .box{
    /* width: 1000px; */
    background-color:white; 
    border-radius:5px;
    margin-right:10px;
  }

  .box{
    width: 80%;
  }
  .box .title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 30px;
  }
  .body{
    padding-left: 30px;
  }
  h5{
    font-size: 20px;
    padding: 5px;
  }
  .item input{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
  }
  .box input{
    border: 1px solid grey; 
    width: 155px; 
    margin-top: 65%;
    margin-bottom: 0px;
    background-color: rgb(220, 220, 220);
  }
  form .item {
    /* margin: 10px; */
    width: 100%;
  }
  .item{
    width: 80%;
  }

  .item img{
    width: 100px;
  }

.btn-sub button{
  padding: 10px;
  margin: 10px;
}

/* You can add global styles to this file, and also import other style files */
*{
  padding: 0px;
  margin: 0px;
}
.info {
  width: 30%;
}
a.disabled {

  margin-right: 10px;
  pointer-events: none;
  cursor: default;
}


.error-message{
  color: red;
}

@media only screen and (max-width: 768px) {
  .main-area{
    display: block;
  }
  .main-area .info{
    width: 100%;
    padding-top: 10px;
  }
  .menu{
    width: 100%;
    display: flex;
  }
  .box{
    width: 100%;
  }
  .item{
    padding: 5px;
  }
  .box input{
    border: 1px solid grey; 
    width: 155px; 
    margin-top: 65%;
    margin-bottom: 0px;
    background-color: rgb(220, 220, 220);
  }
}