<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div> -->
        <div class="sidebar-brand-text mx-3">Meeting Shareholder<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active" [ngClass]="{'disabled-item': role == 1}">
        <button type="button" style="width: 100%; padding: 10px;" data-toggle="modal" data-target="#addCompanyModal"
            class="btn btn-primary edit">
            <i class="fa fa-building" aria-hidden="true"></i>
            <span style="padding-left: 5px;">Tạo công ty</span></button>
    </li>
    <hr class="sidebar-divider my-0" [ngClass]="{'disabled-item': role == 1}">
    <li class="nav-item active" [ngClass]="{'disabled-item': role == 1}">
        <button type="button" style="width: 100%; padding: 10px;" data-toggle="modal" data-target="#addMeetingModal"
            class="btn btn-primary edit">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span style="padding-left: 5px;">Tạo cuộc họp</span></button>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Danh sách công ty
    </div>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Pages Collapse Menu -->
    <div *ngFor="let company of toListCompany;let j = index" class="text-center">
        <button style="padding: 10px; color: white;" type="button" class="btn" data-toggle="collapse"
            [attr.data-target]="'#company'+j" [attr.aria-controls]="'collapse' + j">{{company.companyName}}</button>
        <hr class="sidebar-divider my-0">
        <div id="company{{j}}" class="collapse">
            <div class="sidebar-heading">
                Cuộc họp ĐHĐCĐ
            </div>
            <li class="nav-item" *ngFor="let item of toList;let i = index">
                <div *ngIf="company.id === item.idCompany">
                    <div *ngIf="item?.status == 0 || item?.status == 2 || item?.status == 3 || item?.status == 4 ||  item?.status == 5 ||  item?.status == 6">
                        <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse"
                            [attr.data-target]="'#collapse'+i" [attr.aria-expanded]="true"
                            [attr.aria-controls]="'collapse' + i">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span [ngClass]="{'colorMenu': idMeeting == item?.id}">{{item.nameMeeting | uppercase }}
                                {{item.numberOrganized}}/{{item.yearOrganized}}</span>
                        </a>
                        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading1"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Cổ đông</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/shareholder/{{item.id}}">Cổ
                                    đông</a>
                                <h6 class="collapse-header">Biểu quyết</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/voting/{{item.id}}">Danh sách biểu quyết</a>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/result-voting/{{item.id}}">Kết quả biểu quyết</a>
                                <h6 class="collapse-header">Bầu cử</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/election/{{item.id}}">Danh sách bầu cử</a>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/result-election/{{item.id}}">Kết quả bầu cử</a>
                                <h6 class="collapse-header">Câu hỏi của cổ đông</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/feedback/{{item.id}}">Câu hỏi</a>
                                <hr>
                                <div>
                                    <a class="collapse-item" data-toggle="modal" (click)="editMeeting(item?.id)"
                                        data-target="#infoMeeting" href="#">Thông tin cuộc họp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <div class="sidebar-heading">
                Cuộc họp ĐHĐCĐ đã kết thúc
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" *ngFor="let item of toList;let i = index">
                <div *ngIf="company.id === item.idCompany">
                    <div *ngIf="item?.status == 1">
                        <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse"
                            [attr.data-target]="'#collapse' + i" [attr.aria-expanded]="true"
                            [attr.aria-controls]="'collapse' + i">
                            <i class="fas fa-fw fa-cog"></i>
                            <span [ngClass]="{'colorMenu': item?.id === idMeeting}">{{item.nameMeeting | uppercase }}
                                {{item.numberOrganized}}/{{item.yearOrganized}}</span>
                        </a>
                        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading1"
                            data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Cổ đông</h6>
                                <a class="collapse-item" ariaCurrentWhenActive="page"
                                    routerLink="/admin/shareholder/{{item.id}}" >Cổ
                                    đông</a>
                                <h6 class="collapse-header">Biểu quyết</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/voting/{{item.id}}">Danh sách biểu quyết</a>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/result-voting/{{item.id}}">Kết quả biểu quyết</a>
                                <h6 class="collapse-header">Bầu cử</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/election/{{item.id}}">Danh sách bầu cử</a>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/result-election/{{item.id}}">Kết quả bầu cử</a>
                                <h6 class="collapse-header">Câu hỏi của cổ đông</h6>
                                <a class="collapse-item"  ariaCurrentWhenActive="page"
                                    routerLink="/admin/feedback/{{item.id}}">Câu hỏi</a>
                                <hr>
                                <div>
                                    <a class="collapse-item" data-toggle="modal" (click)="editMeeting(item?.id)"
                                        data-target="#infoMeeting" href="#">Thông tin cuộc họp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <img src="data:image/png;base64,{{item.imageBanner}}" alt="" sizes="100" srcset=""> -->
            </li>
            <a class="collapse-item" data-toggle="modal" (click)="editCompany(company.id)" data-target="#infoCompany"
                href="#" style="color: rgb(245, 255, 150);">Thông tin công ty</a>
        </div>
    </div>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->

</ul>
<!-- End of Sidebar -->


<!-- Create Modal-->
<div class="modal fade" id="addMeetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới cuộc họp đại hội</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addMeeting" class="formAdd" method="post" [formGroup]="dataFormMeeting"
                (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label for="exampleInputEmail1">Tên cuộc họp</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="..."
                                formControlName="nameMeeting" required>
                        </div>
                        <div class="form-group colunm">
                            <label>Lần tổ chức</label>
                            <input type="number" class="form-control" placeholder="..."
                                formControlName="numberOrganized" required>
                        </div>
                        <div class="form-group colunm">
                            <label>Năm tổ chức</label>
                            <!-- <input type="number" min="2023" class="form-control" placeholder="..." formControlName="yearOrganized" required> -->
                            <select class="form-control select" name="yearOrganized" formControlName="yearOrganized">
                                <option [value]="2023">2023</option>
                                <option [value]="2024">2024</option>
                                <option [value]="2025">2025</option>
                                <option [value]="2026">2026</option>
                                <option [value]="2027">2027</option>
                                <option [value]="2028">2028</option>
                                <option [value]="2029">2029</option>
                                <option [value]="2030">2030</option>
                                <option [value]="2031">2031</option>
                                <option [value]="2032">2032</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Công ty</label>
                            <!-- <input type="number" min="2023" class="form-control" placeholder="..." formControlName="yearOrganized" required> -->
                            <select class="form-control select" name="idCompany" formControlName="idCompany">
                                <option *ngFor="let item of toListCompany" [value]="item.id">{{item.companyName}}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <fieldset class="form-group">
                                <label>Ảnh banner cuộc họp</label>
                                <p style="color: red;">{{imageError}}</p>
                                <div class="custom-file fileInputProfileWrap">
                                    <input type="file" class="fileInputProfile" (change)="onFileSelected($event)"
                                        (change)="fileChangeEvent($event)">
                                    <div class="img-space">

                                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                            <img [src]="cardImageBase64" />
                                        </ng-container>
                                        <ng-template #elseTemplate>

                                            <img src="assets/images/placeholder.png" class="img-responsive">
                                        </ng-template>
                                    </div>
                                </div>
                            </fieldset>
                            <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Thời gian bắt đầu</label>
                            <input type="datetime-local" class="form-control" placeholder="..."
                                formControlName="startTime">
                        </div>
                        <div class="form-group colunm">
                            <label>Thời gian kết thúc</label>
                            <input type="datetime-local" class="form-control" placeholder="..."
                                formControlName="endTime">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="address" class="form-control" placeholder="..."
                                formControlName="address">
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group">
                            <label>Link tài liệu</label>
                            <input type="text" style="width: 660px;" name="description" class="form-control"
                                placeholder="..." formControlName="description">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!dataFormMeeting.valid">Thêm mới</button>
                    <!-- [disabled]="!dataForm.valid" -->
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới công ty</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addMeeting" class="formAdd" method="post" [formGroup]="dataFormCompany"
                (ngSubmit)="onSubmitCompany()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label for="exampleInputEmail1">Tên công ty</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="..."
                                formControlName="companyName" required>
                        </div>
                        <div class="form-group colunm">
                            <label>Mã chứng khoán</label>
                            <input type="text" class="form-control" placeholder="..." formControlName="stockCode"
                                required minlength="3" maxlength="3">
                        </div>
                        <div class="form-group colunm">
                            <label>Mã số thuế</label>
                            <input type="number" class="form-control" placeholder="..." formControlName="taxCode"
                                required minlength="10" maxlength="10">
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" placeholder="..." formControlName="address"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Năm tổ thành lập</label>
                            <input type="date" class="form-control" placeholder="..." formControlName="foundedYear">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!dataFormCompany.valid">Thêm mới</button>
                    <!-- [disabled]="!dataForm.valid" -->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create Modal-->
<div class="modal fade" id="infoMeeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin cuộc họp đại hội</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addMeeting" class="formAdd" method="post" [formGroup]="infoMeeting"
                (ngSubmit)="onSubmitUpdate()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label for="exampleInputEmail1">Tên cuộc họp</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="..."
                                formControlName="nameMeeting">
                        </div>
                        <div class="form-group colunm">
                            <label>Lần tổ chức</label>
                            <input type="number" class="form-control" placeholder="..."
                                formControlName="numberOrganized">
                        </div>
                        <div class="form-group">
                            <label>Năm tổ chức</label>
                            <!-- <input type="number" class="form-control" placeholder="..." formControlName="yearOrganized"> -->
                            <select class="form-control select" name="yearOrganized" formControlName="yearOrganized">
                                <option [value]="2023">2023</option>
                                <option [value]="2024">2024</option>
                                <option [value]="2025">2025</option>
                                <option [value]="2026">2026</option>
                                <option [value]="2027">2027</option>
                                <option [value]="2028">2028</option>
                                <option [value]="2029">2029</option>
                                <option [value]="2030">2030</option>
                                <option [value]="2031">2031</option>
                                <option [value]="2032">2032</option>
                            </select>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <fieldset class="form-group">
                                <label>Ảnh banner cuộc họp</label>
                                <p style="color: red;">{{imageError}}</p>
                                <div class="custom-file fileInputProfileWrap">
                                    <input type="file" class="fileInputProfile" (change)="onFileSelected($event)"
                                        (change)="fileChangeEvent($event)">
                                    <div class="img-space">
                                        <ng-container *ngIf="isImageSaved; else elseTemplateUpdate">
                                            <img [src]="cardImageBase64" />
                                        </ng-container>
                                        <ng-template #elseTemplateUpdate>
                                            <img [src]="data.items?.imageBanner" class="img-responsive">
                                        </ng-template>
                                    </div>
                                </div>
                            </fieldset>
                            <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Thời gian bắt đầu</label>
                            <input type="datetime-local" class="form-control" placeholder="..."
                                formControlName="startTime">
                        </div>
                        <div class="form-group colunm">
                            <label>Thời gian kết thúc</label>
                            <input type="datetime-local" class="form-control" placeholder="..."
                                formControlName="endTime">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="address" class="form-control" placeholder="..."
                                formControlName="address">
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group">
                            <label>Link tài liệu</label>
                            <input type="text" style="width: 660px;" name="description" class="form-control"
                                placeholder="..." formControlName="description">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [ngClass]="{'disabled-item': role == 1}">Sửa thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="infoCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin công ty</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="addMeeting" class="formAdd" method="post" [formGroup]="infoCompany"
                (ngSubmit)="onSubmitUpdateCompany()">
                <div class="modal-body">
                    <div class="line">
                        <div class="form-group colunm">
                            <label for="exampleInputEmail1">Tên công ty</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="..."
                                formControlName="companyName" required>
                        </div>
                        <div class="form-group colunm">
                            <label>Mã chứng khoán</label>
                            <input type="text" class="form-control" placeholder="..." formControlName="stockCode"
                                required minlength="3" maxlength="3">
                        </div>
                        <div class="form-group colunm">
                            <label>Mã số thuế</label>
                            <input type="number" class="form-control" placeholder="..." formControlName="taxCode"
                                required maxlength="10" minlength="10">
                        </div>
                    </div>
                    <div class="line">
                        <div class="form-group colunm">
                            <label>Địa chỉ</label>
                            <input type="text" class="form-control" placeholder="..." formControlName="address"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Năm tổ thành lập</label>
                            <input type="datetime" class="form-control" placeholder="..." formControlName="foundedYear">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="reset">Clear</button>
                    <button class="btn btn-primary" type="submit" [ngClass]="{'disabled-item': role == 1}">Sửa thông tin</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="loading-spinner">
    <div class="loading">Loading&#8230;</div>
</div>